version: "3.9"

services:

  mongo:
    image: mongo
    container_name: task-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: task-backend
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/taskdb
      - JWT_SECRET=mysecretkey123

  frontend:
    build: ./frontend
    container_name: task-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo-data: